<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Under Maintenance</title>
    </head>
    <body>
        {{> header}}
        <h1>This page is under maintenance.</h1>
        {{> footer}}
    </body>
</html>